div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 330px;
  padding: 20px 0;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #000;
  background-color: var(--brightBlack);
  /* cursor: pointer; */
  transition: 1s;
}

div:hover {
  transform: scale(1.05);
}

div img{
  max-height: 20em;
}

div span{
  color: var(--brightWhite);
  font-weight: 400;
  font-size: 1.2em;
}
